<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main}, ~{::aside})}">
<head>
    <meta charset="UTF-8">
    <title>admin - order</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<aside>
    <div th:replace="~{admin/aside :: aside}"></div>
</aside>
<main>
    <h1>관리자의 주문 관리 페이지입니다.</h1>
    <div>
        <ul id="itemList"></ul>
        <div class="pagination">
            <button onclick="previousPage()" id="prevBtn" disabled>이전</button>
            <span id="pageNumber">1</span>
            <button onclick="nextPage()" id="nextBtn">다음</button>
        </div>
    </div>
</main>
</body>
</html>